
.progress {
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    box-shadow: none;
    overflow: visible;
    position: absolute;
    width: 5rem;
    top: 60px;
    left: 0.5rem;
}

@media screen and (min-height: 670px) {
    .progress {
        top: 30px;
    }
}

.progress .progress-title {
    padding: 5px;
    margin: 0;
    background: #393a3d;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: -13px;
    left: 0;
    z-index: 1;
}

.progress .progress-title:after {
    content: "";
    border-left: 17px solid #393a3d;
    border-top: 14px solid transparent;
    border-bottom: 13px solid transparent;
    position: absolute;
    top: 0;
    right: -17px;
}

.progress .progress-bar {
    box-shadow: none;
    border-radius: 7px;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress .progress-value {
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
    border-radius: 3px;
    background: #393a3d;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 30px;
    min-width: 8rem;
}

.progress .progress-value:after {
    content: "";
    border-top: 7px solid #393a3d;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 35%;
}

.progress.yellow .progress-bar:after {
    border: 5px solid #ffa900;
}